<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">

    <h2>💰 Expense Tracker</h2>

    <a href="/add">+ Add Expense</a>

    <h3>Total: ₹ {{ total if total else 0 }}</h3>

    <!-- Chart -->
    <canvas id="myChart"></canvas>

    <table>
        <tr>
            <th>ID</th><th>Title</th><th>Amount</th><th>Category</th><th>Actions</th>
        </tr>

        {% for e in expenses %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.title }}</td>
            <td>₹ {{ e.amount }}</td>
            <td>{{ e.category }}</td>
            <td>
                <a href="/edit/{{ e.id }}">Edit</a>
                <a href="/delete/{{ e.id }}" onclick="return confirmDelete()">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

<script>
function confirmDelete() {
    return confirm("Are you sure you want to delete?");
}

const categories = {{ categories | safe }};
const amounts = {{ amounts | safe }};

const ctx = document.getElementById('myChart');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: categories,
        datasets: [{
            label: 'Expenses by Category',
            data: amounts
        }]
    }
});
</script>

</body>
</html>